
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    color:black;
  }

  p {
    font-family: 'Oswald', sans-serif;
    color:black;
    font-weight: 400;
    max-width: 600px;
    align-self: center;
  }

  h1 {
    font-size: 50px;
    color: white;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  

  header {
    background-color: #096889;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
  }

  #time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
 
  #clock-pic {
    margin-right: 10px;
  }


  /*
  .question {
    display: none;
  }

   label {
    background-color: blue;
    padding: 10px 5px;
  }
*/

.question {
  text-align: center;
}

.section-1 {
  background-color: #e6e6e6;
  width: 75%;
  margin: 0 auto;
  padding: 10px 0;
}
 
 
  #quiz-body {
    width: 75%;
    margin: 0 auto;
    background-color:#e6e6e6;
    padding: 30px 40px 80px 40px;
    display: flex;
    flex-direction: column;
  }

 .labl {
  margin-top: 10px;
  align-self: center;
 }

  .right-or-wrong {
    font-family: 'Oswald', sans-serif;
  }

  form {
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-self: center;
    align-items: center;
    margin: 20px;
  }

  #submit-form{
    display: flex;
    justify-content: center;
  }

  #namlabl {
    color: #096889;
  }
 

  #pasty {
    margin-top: 60px;
  }

  #scores-list {
    text-align: center;
    margin-top: 20px;
  }

  .name-button {
    align-self: center;
    width: 60px;
    height: 25px;
    border-radius: 2px;
    border: none;
    background-color: #096889;
    color: white;
  }

  .return-button {
    width: 80%;
    height: 35px;
    border-radius: 2px;
    border: none;
    background-color: #00bc14;
    color: white;
   margin-top: 40px;
  }

  .return-button:hover {
    background-color: #890968;
  }

  .submitanswer {
    width: 80%;
    height: 35px;
    border-radius: 2px;
    border: none;
    background-color: #00bc14;
    color: white;
   margin-top: 20px;
  }

  .submitanswer:hover {
    background-color: #890968;
  }

  .submit-quiz {
    width: 80%;
    height: 35px;
    border: none;
    border-radius: 50px;
    background-color: #00bc14;
    color: white;
    margin-top: 20px;
    
  }

  .submit-quiz:hover{
    background-color: #890968;
  }

  #section-2 {
    text-align: center;
  }

  #nex-button-container{
    display: flex;
    justify-content: center;
  }

  #next-question-button {
    width: 40%;
    height: 35px;
    border: none;
    background-color: #e6e6e6;
    color: black;
    margin-top: 20px;
    
  }

  #next-question-button:hover {
    background-color: #00bc14;
  }

  

  #start-page {
    width: 60%;
    Margin: 200px auto 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #start-page h2 {
    margin-bottom: 50px;
  }

  .start-button {
    width: 40%;
    height: 35px;
    border: none;
    border-radius: 50px;
    background-color: #00bc14;
    color: white;
    margin-top: 40px;
    align-self: center;
  }

  .start-button:hover {
    background-color: #890968;
  }

  /*
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .next {
  display: none;
 }
*/




label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
  background-color: white;
  border-radius: 25px;
  font-family: 'Oswald', sans-serif;
  width: 80%;
  margin: 0 auto;
}

input {
  margin: 10px 5px;
 
}


.finished-screen {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

 .finish {
  display: none;
 }

 #time {
  display: none;
 }

 .rightOrWrongLabel {
  color: white;
 }

 .section-2 {
  width: 75%;
  margin: 20px auto 0 auto;
  text-align: center;
  padding: 10px;
  }
  

 
 .hide {
  display: none !important;
}




/*Media querries*/
  @media screen and (max-width: 576px){
    #quiz-body{
      width: 80%;
    }
  }